AIRFLOW_UID=50000

DB_HOST=postgres
DB_PORT=5432
DB_NAME=packages
DB_USER=appuser
DB_PASS=apppass

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=packages

INGEST_LIMIT=50
EXTRACT_BATCH_SIZE=20
